{% extends 'base.html.njk' %}

{% block body %}
    <form action="/process-login" method="post">
        Username:
        <input type="text" name="username" required>
        Password:
        <input type="password" name="password" required>
        <input type="submit">
    </form>
{% endblock %}